@*
 * Copyright (c) 2013, Kevin McRell & Paul Miller
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without modification, are permitted
 * provided that the following conditions are met:
 * 
 * * Redistributions of source code must retain the above copyright notice, this list of conditions
 *   and the following disclaimer.
 * * Redistributions in binary form must reproduce the above copyright notice, this list of
 *   conditions and the following disclaimer in the documentation and/or other materials provided
 *   with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*@

@model ArmedCards.Authentication.Models.Account.ExternalLoginList
@using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { id = "externalLoginForm" }))
{
     @Html.AntiForgeryToken()
    <div id="confirmMessage" class="confirmMessage logIn">
	    <h3>Sign in with</h3>
	    <div class="socialLogin">
            @foreach (String login in Model.Logins)
            {
                if (login.ToLower() == "google")
                {
		            <a href="#" class="button google" id="googleLoginIn">Google+</a><br>
                }
				else if (login.ToLower() == "facebook")
				{
					<a href="#" class="button facebook" id="facebookLoginIn">Facebook</a><br>
                }
                else if (login.ToLower() == "twitter")
				{
					<a href="#" class="button twitter" id="twitterLoginIn">Twitter</a><br>
				}
            }
            <p>We promise not to do bad things with what little data we collect. Avatars provided by <a href="https://gravatar.com" target="_blank">Gravatar</a></p>
            @Html.Hidden("provider")
		    <a href="#" class="button nope" id="signInNope">Nope</a>
	    </div>
    </div>
}