@*
 * Copyright (c) 2013, Kevin McRell & Paul Miller
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without modification, are permitted
 * provided that the following conditions are met:
 * 
 * * Redistributions of source code must retain the above copyright notice, this list of conditions
 *   and the following disclaimer.
 * * Redistributions in binary form must reproduce the above copyright notice, this list of
 *   conditions and the following disclaimer in the documentation and/or other materials provided
 *   with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*@

@{
    string returnUrl = Request.QueryString["returnUrl"] ?? "/";

    if (returnUrl == "/" && Request.Url.ToString().ToLower().Contains("/gamelisting"))
    {
        returnUrl = "/GameListing";
    }
    
    object showSignOut = TempData["showSignOut"];
    
    if(showSignOut == null)
    {
        showSignOut = false;
    }
}

@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", new { ReturnUrl = returnUrl }, FormMethod.Post, new { id = "logoutForm" }))
    {
       @Html.AntiForgeryToken()
    }

    if ((Boolean)showSignOut)
    {
        <div class="loggin">
            <a id="logOff" class="loggedIn" href="#">Sign Out</a>
        </div>
    }
    else
    { 
        <div class="loggin">
            <a id="goToProfile" class="loggedIn" href="/Profile/@WebSecurity.CurrentUserId">@User.Identity.Name</a>
        </div>
    }
} else {
    <div class="loggin">
        <a id="signIn" href="#">Sign in</a>
    </div>
    
    @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = returnUrl })
}