@*
    * Copyright (c) 2013, Kevin McRell & Paul Miller
    * All rights reserved.
    *
    * Redistribution and use in source and binary forms, with or without modification, are permitted
    * provided that the following conditions are met:
    *
    * * Redistributions of source code must retain the above copyright notice, this list of conditions
    *   and the following disclaimer.
    * * Redistributions in binary form must reproduce the above copyright notice, this list of
    *   conditions and the following disclaimer in the documentation and/or other materials provided
    *   with the distribution.
    *
    * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
    * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
    * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
    * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
    * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
    * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
    * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
    * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*@

@model ArmedCards.Entities.Models.Game.Listing.Listing
@helper Buttons()
{
    <div class="fakeInput gameSearch">
        <a href="#" class="button clear hidden" title="Clear Search">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="256px" height="256px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
            <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="29.8" y1="228" x2="226.8" y2="31"></line>
            <line fill="none" stroke="#FFFFFF" stroke-width="50" stroke-miterlimit="10" x1="227" y1="228" x2="30" y2="31"></line>
		</svg>
        </a>
        <input type="search" id="gameSearch" class="title" placeholder="Search for a game." ng-model="gameSearch.$">

    </div>
    <a class="button" href="/CreateGame">Create</a>
}

@{
    ViewBag.Title = "Game Listing";
    Layout = "~/Views/Shared/Layout/_Listing.cshtml";

    ArmedCards.Entities.Models.Shared.Header header = new ArmedCards.Entities.Models.Shared.Header();
    header.SubHeaderText = "Join a game.";
    header.ExtraHtml = new TagBuilder("div");
    header.ExtraHtml.AddCssClass("actions");

    header.ExtraHtml.InnerHtml = Buttons().ToHtmlString();
}
<div id="detailModal" class="confirmMessage logIn">
</div>
@Html.Partial("~/Views/Shared/Partials/_Header.cshtml", header)

<span class="visuallyHidden">
    Select a game to join.
</span>

<div class="gameListing clearfix">
    <rgd-game ng-repeat="game in games | filter:gameSearch"></rgd-game>
</div>

@Html.HiddenFor(x => x.GameToShow)

@section Scripts
{
    @Scripts.Render("~/bundles/Game/Listing")
}