@*
 * Copyright (c) 2013, Kevin McRell & Paul Miller
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without modification, are permitted
 * provided that the following conditions are met:
 * 
 * * Redistributions of source code must retain the above copyright notice, this list of conditions
 *   and the following disclaimer.
 * * Redistributions in binary form must reproduce the above copyright notice, this list of
 *   conditions and the following disclaimer in the documentation and/or other materials provided
 *   with the distribution.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
 * FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
 * CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 * DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
 * DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
 * WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
 * WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*@

@model ArmedCards.Entities.Models.Home.Index

@{
    ViewBag.Title = "ARMED CARDS!#&?";
    Layout = "~/Views/Shared/Layout/_Footer.cshtml";
}

<div class="splash">
	<h1>ARMED CARDS!#&amp;?<span class="beta">beta</span></h1>
	<span class="visuallyHidden">
	    Cards Against Humanity Online. Please select an option to continue.
	</span>
	<div class="buttons">
		<a href="/GameListing"><span class="icon join">&amp;</span><span>Join Game</span></a>
		<a href="/CreateGame"><span class="icon create">!</span><span>Create Game</span></a>
		<a href="#" class="inactive" title="We're still working on this, alright? Cut us some slack..."><span class="icon vote">?</span><span>Vote & Suggest</span></a>
		<a href="/Leaderboard"><span class="icon leaderboard">#</span><span>Leaderboards</span></a>
	</div>
    <blockquote>
        <a style="margin: 0 10px;" href="https://github.com/kwmcrell/ArmedCards/issues?state=open"><span>Bugs?</span></a>
        <a style="margin: 0 10px;" href="/ChangeLog"><span>Change Log</span></a>
    </blockquote>
</div>